<h3> {{viewTitle}}</h3>
<form action="/admin" method="POST" autocomplete="off">
<input type="hidden" name="_id" value="{{admin.id}}">
    <div class="form-group">
        <label>Full Name</label>
        <input type="text" class="form-control" name="fullName" placeholder="Full Name" value="{{admin.fullName}}">
        <div class="text-danger">
            {{admin.fullNameError}}
        </div>
    </div>

    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="email" placeholder="email" value="{{admin.email}}">
  <div class="text-danger">
            {{admin.emailError}}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">

         <div class="form-group">
      <label>Password:</label>
      <input type="text" name="password"  class="form-control" placeholder="Password">
    </div>
    
    </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i>Submit</button>
 <a class="btn btn-secondary" href="/admin/list"><i class="fa fa-list-alt"></i>View All</a>
    </div>

    
</form>